*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
}

h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.input {
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 2rem;
  color: black;
  background-color: #ccc;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.input::placeholder {
  transition: all 0.3s;
}

.input:focus::placeholder {
  opacity: 0;
}

.strength {
  border-radius: 5rem;
  height: 2rem;
  background-color: #999;
  margin-bottom: 2rem;
  overflow: hidden;

  position: relative;
}

.strength-level {
  font-size: 2rem;
  color: #333;
}

.bar {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: red;
  transition: all 0.3s;
}
